html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
@font-face {
  font-family: "Blanka";
  src: url("/fonts/Blanka-Regular.otf");
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 10px;
  background-color: white;
  padding: 15px 30px;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
  &:disabled {
    cursor: initial;
    background-color: rgba($color: #fff, $alpha: 0.3) !important;
    color: grey !important;
  }
}
.pageContainer {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  & > section {
    color: white;
    position: relative;
    z-index: 23;
    width: 60%;
    margin-left: 50px;
    padding: 10% 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    top: 0;
    left: 0;
    z-index: 11;
  }
  h1 {
    font-family: Blanka;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 p {
    color: white;
    margin: 0;
    padding: 0;
  }
}

.homeBackgrounContainer {
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.bi {
  div:first-child {
    // height: 100dvh !important;
    background-position: right center !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
    object-fit: contain;
  }
}

img {
  object-fit: cover;
}

@media screen and (max-width: 758px) {
  .pageContainer {
    & > section {
      width: 80%;
      margin: auto !important;
    }
  }
}
